@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media only screen and (max-width: 1200px) {
  .main{
    flex-direction: column;
  }
  .todoList{
  width: 100vw;
  padding: 5rem;
  }
  .todoApp{
    width: 100vw;
  }
}

@media only screen and (max-width: 720px) {
  .todoList{
    padding: 2rem;
    }
  .todoApp{
    width: 100vw;
    padding: 5rem;
  }
  .Addtask{
    margin-top: 10rem;
  }
  .list{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 350px) {
  .todoApp{
    padding: 2rem;
  }
  .Addtask{
    margin-top: 5rem;
  }
  .btn{
    padding:1px 4px;
  }
}